<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gkatziou.wificonnectivity"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:enabled="true" >
        <provider android:name="com.gkatziou.wificonnectivity.provider.Interfaces" android:authorities="com.gkatziou.wificonnectivity.provider.Interfaces" />
        <activity android:name=".WifiConnectivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity android:name=".Device" android:label="Device"/>
        <activity android:name=".Devices" android:label="Devices"/>
		<service android:enabled="true" android:name=".Listener"/>
    </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
</manifest>